@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.cdnfonts.com/css/quentin');

* {
    margin: 0;
    padding: 0;
}

#afrika{
    background-image: url(Resimler/Afrika-Fil-Banner.jpg);
}

#asya{
    background-image: url(Resimler/Asya-Banner.jpg);
}

#avrupa{
    background-image: url(Resimler/Avrupa-Banner.jpg);
}

#avustralya{
    background-image: url(Resimler/Avustrulya-Banner.jpg);
}

#kuzey-amerika{
    background-image: url(Resimler/Kuzey-Amerika-Banner.jpg);
}

#güney-amerika{
    background-image: url(Resimler/Güney-Amerika-Banner.jpg);
}

/* Toplu Classlar */
.aciklamaboyutu-h2{
    font-size: 45px;
}
.aciklamaboyutu-h3{
    font-size: 30px;
}
.aciklamaboyutu-h4{
    font-size: 25px;
}
.aciklamaboyutu-p{
    font-size: 20px;
}

body{
    overflow-x: hidden;
}

header {
    background-image: url(Resimler/aerial-shot-boat-beautiful-blue-ocean-bonaire-caribbean.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
}
header nav div+div{
    display: flex;
    align-items: center;
}

header nav img {
    width: 200px;
}

header nav ul {
    list-style: none;
    display: flex;
    position: relative;
}

header nav ul li {
    position: relative;
    margin: 0 45px;
}

header nav ul li a, .acilan {
    text-decoration: none;
    color: #E0E0E0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

header nav ul li a:hover, .acilan:hover {
    color: #FF97F5;
}

header nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    list-style: none;
    padding: 10px 0;
    z-index: 3;
}

header nav ul li ul li {
    padding: 10px 20px;
}

header nav ul li ul li a {
    color: #E0E0E0;
    font-size: 18px;
}

header nav ul li:hover ul {
    display: block;
}

header nav div #buton {
    display: inline-block;
    background-color: #FE6084;
    color: #E0E0E0;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px; 
    text-align: center;
    transition: all 0.3s ease;
}

header nav div #buton:hover {
    background-color: #FF97F5;
    color: dimgray;
    padding: 17px 27px;
}

header section h1{
    color: #E0E0E0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-top: 20vh;
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
}

header section h2{
    color: #E0E0E0;
    font-family: 'Grey Qo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;     
    font-size: 80px;
    margin-top: 20px;
    text-shadow: 1px 1px 1px black;

}

#tanitim{
    width: 100%;
    height: auto;  
    display: block;
}

#tanitim #kapsayici{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tanitim img{
    width: 700px;
    height: 500px;
    margin: 90px;
}

#tanitim #kapsayiciyazi{
    margin: 0 90px;
}

#tanitim div h2{
    color: #BC9B3F;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#tanitim div p{
    color: #565656;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#vaadler{
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #fafafa;
}

#vaadler #aciklama{
    padding: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0px 20px;
}

#vaadler #aciklama h2{
    color: #BC9B3F;
    font-weight: 400;
}

#vaadler #aciklama p{
    color: #565656;
    font-weight: 300;
}

#vaadler #aciklama_alt{
    display: flex;
    align-items: center;
    margin: 50px 90px;
}

#vaadler #aciklama_alt div:nth-child(1){
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

#vaadler #aciklama_alt div:nth-child(1) h3{
    color: #505050;
    text-align: center;
    font-weight: 400;
}

#vaadler #aciklama_alt div:nth-child(1) p{
    color: #565656;
    font-weight: 300;
    text-align: justify;
}

#vaadler #aciklama_alt div:nth-child(2){
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}

#vaadler #aciklama_alt div:nth-child(2) h3{
    color: #505050;
    text-align: center;
    font-weight: 400;
}

#vaadler #aciklama_alt div:nth-child(2) p{
    color: #565656;
    font-weight: 300;
    text-align: justify;
}

#vaadler #aciklama_alt div:nth-child(3){
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}

#vaadler #aciklama_alt div:nth-child(3) h3{
    color: #505050;
    text-align: center;
    font-weight: 400;   
}

#vaadler #aciklama_alt div:nth-child(3) p{
    color: #565656;
    font-weight: 300;
    text-align: justify;
}

#vaadler #buton{
    display: flex;
    justify-content: center;
    padding: 40px;
}

#vaadler #buton a{
    display: inline-block;
    background-color: #BC9B3F;
    border: 4px solid #BC9B3F;
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px; 
    text-align: center;
    transition: all 0.3s ease;
}

#vaadler #buton a:hover{
    background-color: #fafafa;
    color: #BC9B3F;
}

#flora-yolu{
    width: 100%;
    height: auto;  
    display: block;
}

#flora-yolu #kapsayici{
    display: flex;
    align-items: center;
    justify-content: center;
}

#flora-yolu img{
    width: 700px;
    height: 500px;
    margin: 90px;
}

#flora-yolu div div{
    margin: 0 90px;
    padding-top: 40px;
}

#flora-yolu div h2{
    color: #BC9B3F;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

#flora-yolu div h4{
    color: #565656;
    font-family: 'Poppins', sans-serif;
}

#flora-yolu div p{
    color: #565656;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#flora-yolu div div a{
    display: inline-block;
    background-color: #BC9B3F;
    border: 4px solid #BC9B3F;
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px; 
    text-align: center;
    transition: all 0.3s ease;
}

#flora-yolu div div a:hover{
    background-color: #fafafa;
    color: #BC9B3F;
}

#musteri {
    background-color: #fafafa   ;
    padding: 60px 20px;
    text-align: center;
}

#musteri h2 {
    font-size: 32px;
    color: #BC9B3F;
    font-weight: 500;
    margin-bottom: 40px;
}

#musteri #kart {
    display: flex;
    justify-content: center;
}

#musteri .referanslar {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    height: 450px;
    margin: 40px 20px;
}

#musteri .referanslar p {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    color: #565656;
    font-weight: 300;
    margin-bottom: 20px;
}

#musteri .referanslar span {
    font-size: 50px;
    font-weight: 400;
    color: #BC9B3F;
    font-family: 'Grey Qo', sans-serif;
    letter-spacing: 2px;
}

footer{
    width: 100%;
    height: auto;
    background-color: #009891;
}

footer #kapsayici{
    display: flex;
    justify-content: center;
}

footer #kapsayici div:nth-child(1){
    margin-top: 100px;
}

footer #kapsayici div:nth-child(1) img{
    width: auto;
    height: 180px;
}

footer #kapsayici div:nth-child(2){
    margin-left: 80px;
    margin-top: 170px;
}

footer #kapsayici div:nth-child(2) a{
    font-size: 40px;
    text-decoration: none;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    transition: all 0.4s;
}

footer #kapsayici div:nth-child(2) a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 10px black;
}

footer #kapsayici div:nth-child(3){
    margin-left: 80px;
    margin-top: 170px;
}

footer #kapsayici div:nth-child(3) ul{
    list-style: none;
}

footer #kapsayici div:nth-child(3) ul li:nth-child(1){
    font-size: 40px;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}

footer #kapsayici div:nth-child(3) ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    transition: all 0.2s;
}

footer #kapsayici div:nth-child(3) ul li a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 10px black;
    font-size: 22px;
}

footer #kapsayici2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

footer #kapsayici2 ul{
    display: flex;
}

footer #kapsayici2 ul li{
    list-style: none;
    padding: 0px 20px;
}

footer #kapsayici2 ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all 0.2s;
}

footer #kapsayici2 ul li a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 10px black;
    font-size: 22px;
}

footer #kapsayici3{
    display: flex;
    justify-content: center;
}

footer #kapsayici3 #cizgi {
    width: 640px;
    height: 2px; 
    background-color: #DFDFDF; 
    margin: 20px 0; 
}

footer #kapsayici4{
    display: flex;
    justify-content: center;
}

footer #kapsayici4 img{
    width: 40px;
    height: 40px;
    margin: 5px 30px;
    transition: all 0.2s;
}   

footer #kapsayici4 img:hover{
    width: 42px;
    height: 42px;
    filter: brightness(10%);
    margin: 4px 0px;
}

footer #kapsayici5{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

footer #kapsayici5 p{
    font-size: 20px;
    text-decoration: none;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

/* KEŞFET SAYFASI */

header section #yazi{
    color: #ffffff;
    font-family: 'Quentin', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;     
    font-size: 180px;
    margin-top: 220px;
}
  
#ızgara-resimler {
    display: flex;
}

.ızgara-kapsayici {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.kapsayici {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.resim {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resim oranını koruyarak alanı doldurur */
    transition: transform 0.3s ease;
}

.kapsayici:hover .resim {
    transform: scale(1.05);
}

.kaplama {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: #00989094;
}

.kapsayici:hover .kaplama {
    opacity: 1;
}

.yazi {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px black;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Grey Qo', sans-serif;
}

.kapsayici.buyuk {
    grid-column: span 2;
    height: 50vh;
}

@media (max-width: 768px) {
    .ızgara-kapsayici {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .ızgara-kapsayici {
        grid-template-columns: 1fr;
    }
}


