@media (max-width: 1900px){
    .aciklamaboyutu-h2{
        font-size: 43px;
    }
    .aciklamaboyutu-h3{
        font-size: 28px;
    }
    .aciklamaboyutu-h4{
        font-size: 23px;
    }
    .aciklamaboyutu-p{
        font-size: 18px;
    }
}

@media (max-width: 1800px){
    .aciklamaboyutu-h2{
        font-size: 42px;
    }
    .aciklamaboyutu-h3{
        font-size: 27px;
    }
    .aciklamaboyutu-h4{
        font-size: 22px;
    }
    .aciklamaboyutu-p{
        font-size: 17px;
    }
    #tanitim #kapsayici{
        flex-wrap: wrap;
        text-align: center;
    }

    #flora-yolu #kapsayici{
        flex-wrap: wrap;
        text-align: center;
    }

    #tanitim #kapsayiciyazi{
        margin:10px 90px 90px;
    }

    #flora-yolu div div{
        margin: 10px 90px 40px;
    }
}

@media (max-width: 1600px){
    .aciklamaboyutu-h2{
        font-size: 42px;
    }
    .aciklamaboyutu-h3{
        font-size: 27px;
    }
    .aciklamaboyutu-h4{
        font-size: 22px;
    }
    .aciklamaboyutu-p{
        font-size: 17px;
    }
    
    header section h1{
        font-size: 55px;
    }
    header section h2{
        font-size: 75px;
    }
    #musteri .referanslar p{
        font-size: 17px;
    }
    #musteri .referanslar span {
        font-size: 45px;
    }
    footer #kapsayici div:nth-child(2) a{
        font-size: 35px;
    }
    footer #kapsayici div:nth-child(3) ul li:nth-child(1){
        font-size: 35px;
    }
    footer #kapsayici div:nth-child(3) ul li a{
        font-size: 15px;
    }
    footer #kapsayici div:nth-child(3) ul li a:hover{
        font-size: 17px;
    }
    footer #kapsayici2 ul li a{
        font-size: 15px;
    }
}

@media (max-width: 1500px){
    header nav ul li a, .acilan{
        font-size: 15px;
    }
    header nav ul li ul li a {
        font-size: 15px;
    }
    header nav {
        padding: 10px 40px ;
    }
    header nav img {
        width: 150px;
    }
    header nav div #buton{
        padding: 10px 20px;
        font-size: 15px;
    }
    header nav div #buton:hover{
        padding: 12px 22px;
    }
    header section h1{
        font-size: 40px;
    }
    header section h2{
        font-size: 60px;
    }

    #tanitim img{
        width: 600px;
        height: 400px;
        margin: 70px;
    }
    #flora-yolu img{
        width: 600px;
        height: 400px;
        margin: 70px;
    }
    .aciklamaboyutu-h2{
        font-size: 40px;
    }
    .aciklamaboyutu-h3{
        font-size: 25px;
    }
    .aciklamaboyutu-h4{
        font-size: 20px;
    }
    .aciklamaboyutu-p{
        font-size: 15px;
    }
    
    #vaadler #buton a{
        font-size: 17px;
        padding: 10px 20px;
    }
    #flora-yolu div div a{
        font-size: 15px;
    }
    header section h1{
        font-size: 53px;
    }
    header section h2{
        font-size: 73px;
    }
    footer #kapsayici div:nth-child(2) a{
        font-size: 25px;
    }
    footer #kapsayici div:nth-child(3) ul li:nth-child(1){
        font-size: 25px;
    }
    footer #kapsayici div:nth-child(3) ul li a{
        font-size: 12px;
    }
    footer #kapsayici div:nth-child(3) ul li a:hover{
        font-size: 14px;
    }
    footer #kapsayici2 ul li a{
        font-size: 12px;
    }
    footer #kapsayici2 ul li a:hover{
        font-size: 14px;
    }
    footer #kapsayici div:nth-child(1) img{
        height: 150px;
    }
    footer #kapsayici img{
        height: 160px;
    }
}

@media (max-width: 1366px){
    .aciklamaboyutu-h2{
        font-size: 35px;
    }
    .aciklamaboyutu-h3{
        font-size: 20px;
    }
    .aciklamaboyutu-h4{
        font-size: 15px;
    }
    .aciklamaboyutu-p{
        font-size: 13px;
    }
    
    header nav ul li {
        margin: 0 25px;
    }

    #tanitim img{
        width: 750px;
        height: 450px;
        margin: 40px;
    }
    #flora-yolu img{
        width: 750px;
        height: 450px;
        margin: 40px;
    }
    
    header section h1{
        font-size: 47px;
    }
    header section h2{
        font-size: 67px;
    }
    footer #kapsayici div:nth-child(2) a{
        font-size: 20px;
    }
    footer #kapsayici div:nth-child(3) ul li:nth-child(1){
        font-size: 20px;
    }
    footer #kapsayici div:nth-child(3) ul li a{
        font-size: 10px;
    }
    footer #kapsayici div:nth-child(3) ul li a:hover{
        font-size: 10px;
    }
    footer #kapsayici2 ul li a{
        font-size: 10px;
    }
    footer #kapsayici2 ul li a:hover{
        font-size: 12px;
    }
    footer #kapsayici div:nth-child(1) img{
        height: 130px;
    }

    footer #kapsayici4 img{
        width: 30px;
        height: 30px;
    }
    footer #kapsayici4 img:hover{
        width: 32px;
        height: 32px;
    }
    
    footer #kapsayici5 p{
        font-size: 15px;
    }
    footer #kapsayici img{
        height: 140px;
    }
}

@media (max-width:1152px){
    .aciklamaboyutu-h2{
        font-size: 30px;
    }
    .aciklamaboyutu-h3{
        font-size: 16px;
    }
    .aciklamaboyutu-h4{
        font-size: 13px;
    }
    .aciklamaboyutu-p{
        font-size: 12px;
    }

    #musteri h2 {
        margin-bottom: 10px;
    }
    #tanitim img{
        width: 550px;
        height: 350px;
        margin: 30px;
    }
    #vaadler #buton{
        padding: 10px;
    }
    #vaadler #buton a{
        font-size: 12px;
        padding: 10px 20px;
    }
    #flora-yolu img{
        width: 550px;
        height: 350px;
        margin: 30px;
    }
    #musteri .referanslar{
        height: 360px;
    }
    
    #musteri .referanslar p{
        font-size: 12px;
    }
    #musteri .referanslar span{
        font-size: 40px;
    }
    
    #flora-yolu div div a{
        font-size: 12px;
        padding: 10px 20px;
    }
    
    footer #kapsayici5 p{
        font-size: 15px;
    }   
}

@media  (max-width:800px){
    header{
        height: 150vh;
    }

    .aciklamaboyutu-h2{
        font-size: 23px;
    }
    .aciklamaboyutu-h3{
        font-size: 15px;
    }
    .aciklamaboyutu-h4{
        font-size: 13px;
    }
    .aciklamaboyutu-p{
        font-size: 12px;
    }

    header nav ul{
        flex-direction: column;
    }
    header nav ul li {
        margin: 0;
    }

    header section h1{
        font-size: 37px;
    }
    header section h2{
        font-size: 57px;
    }

    #tanitim img{
        width: 400px;
        height: 250px;
        margin: 15px;
    }
    #tanitim #kapsayiciyazi{
        margin:5px  20px 20px;
    }
    #vaadler #aciklama{
        padding: 30px;
        margin: 0;
    } 

    #vaadler #aciklama_alt{
        flex-direction: column;
        margin: 20px;
    }
    #vaadler #aciklama_alt div:nth-child(2){
        margin-left: 0;
        padding-top: 10px;
    }
    #vaadler #aciklama_alt div:nth-child(3){
        padding-top: 10px;
        margin-left: 0;
    }
    #vaadler #buton a{
        font-size: 12px;
        padding: 6px 12px;
    }
    #flora-yolu img{
        width: 400px;
        height: 250px;
        margin: 15px;
    }
    #flora-yolu div div{
        margin: 5px 20px 20px;
        padding: 0;
    }
    #flora-yolu div div a{
        font-size: 12px;
        padding: 6px 12px;
        margin-top: 10px;
    }
    #musteri #kart {
        flex-direction: column;
        align-items: center;
    }
    
    #musteri .referanslar{
        height: 200px;
    }
    footer #kapsayici{
        flex-direction: column;
        align-items: center;
    }
    footer #kapsayici div:nth-child(2){
        margin-top: 10px;
        margin-left: 0;
    }
    footer #kapsayici div:nth-child(3){
        margin-top: 10px;
        margin-left: 0;
    }
    footer #kapsayici div:nth-child(3) ul li:nth-child(1){
        padding-bottom: 0;
    }
    
    footer #kapsayici2{
        margin-top: 20px;
    }

    footer #kapsayici2 ul li a:hover{
        font-size: 10px;
    }
    footer #kapsayici3 #cizgi {
        width: 450px;
    }
    footer #kapsayici5 p{
        font-size: 10px;
    }
}

@media (max-width:640px){
    header{
        height: 100vh;
    }
    header nav{
        padding: 5px;
    }
    header nav img {
        width: 100px;
    }
    header nav div #buton {
        font-size: 12px;
        padding: 5px 5px;
    }
    header nav div #buton:hover{
        font-size: 12px;
        padding: 5px 5px;
    }
    header section h1{
        margin-top: 5vh;
        font-size: 20px;
    }
    header section h2{
        font-size: 34px;
    }

    #tanitim img{
        width: 300px;
        height: 200px;
        margin: 15px;
    }

    #flora-yolu img{
        width: 290px;
        height: 200px;
        margin: 15px;
    }
    #musteri .referanslar {
        width: 300px;
    }
    footer #kapsayici2 ul{
        flex-direction: column;
    }
    footer #kapsayici4 img{
        margin: 5px 15px;
    }
}

@media (max-width:320px){
    .aciklamaboyutu-h2{
        font-size: 13px;
    }
    .aciklamaboyutu-h3{
        font-size: 12px;
    }
    .aciklamaboyutu-h4{
        font-size: 10px;
    }
    .aciklamaboyutu-p{
        font-size: 6px;
    }
    header nav img{
        width: 40px;
    }
    header nav div #buton {
        font-size: 6px;
    }
    header nav div #buton:hover {
        font-size: 6px;
    }
    header nav ul li a, .acilan {
        font-size: 6px;
        letter-spacing: 2px;
    }
    header nav{
        flex-wrap: wrap;
    }
    header nav div:nth-child(2){
        order: 2;
    }
    header section h1{
        font-size: 10px;
    }
    header section h2{
        font-size: 17px;
        margin-top: 0px;
    }

    #tanitim img{
        width: 150px;
        height: 100px;
        margin: 15px;
    }
    #tanitim #kapsayiciyazi{
        margin: 0 5px;
    }
    #vaadler #aciklama{
        margin: 0 5px;
        padding: 5px;

    }
    #vaadler #aciklama_alt{
        margin: 0px 5px;
    }

    #vaadler #buton{
        padding: 5px;
    }
    #vaadler #buton a{
        font-size: 6px;
        padding: 0px;
        letter-spacing: 1px;
    }
    #flora-yolu img{
        width: 150px;
        height: 100px;
        margin: 15px;
    }
    #flora-yolu div div{
        margin: 0 5px;
        padding: 0px;
    }
    #flora-yolu div div a{
        font-size: 6px;
        padding: 0px;
        letter-spacing: 1px;       
    }
    #musteri h2 {
        font-size: 13px;
    }
    
    #musteri .referanslar {
        width: 130px;
        height: 80px;
    }
    #musteri .referanslar p {
        font-size: 6px;
        margin-bottom: 5px;
    }
    #musteri .referanslar span {
        font-size: 20px;
    }

    footer #kapsayici div:nth-child(1){
        margin-top: 10px;
    }
    footer #kapsayici div:nth-child(1) img{
        height: 50px;
    }
    footer #kapsayici div:nth-child(2) a{
        font-size: 10px;
    }
    footer #kapsayici div:nth-child(3) ul li:nth-child(1){
        font-size: 10px;
    }
    footer #kapsayici div:nth-child(3) ul li a{
        font-size: 6px;
    }
    footer #kapsayici div:nth-child(3) ul li a:hover{
        font-size: 6px;
    }
    footer #kapsayici2 ul li a{
        font-size: 6px;
    }
    footer #kapsayici2 ul li a:hover{
        font-size: 6px;
    }
    footer #kapsayici3 #cizgi {
        width: 120px;
    }
    footer #kapsayici4{
        flex-wrap: wrap;
    }
    footer #kapsayici4 img{
        width: 20px;
        height: 20px;
    }
    footer #kapsayici4 img:hover{
        width: 20px;
        height: 20px;
        margin: 5px 15px;
    }

    footer #kapsayici5{
        margin-top: 20px;
    }
    footer #kapsayici5 p{
        font-size: 8px;
        text-align: center;
    }
}
