@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
 @import url('https://fonts.cdnfonts.com/css/quentin');
                

* {
    margin: 0;
    padding: 0;
}

#afrika{
    background-image: url(Resimler/Afrika-Fil-Banner.jpg);
}

#asya{
    background-image: url(Resimler/Asya-Banner.jpg);
}

#avrupa{
    background-image: url(Resimler/Avrupa-Banner.jpg);
}

#avustralya{
    background-image: url(Resimler/Avustrulya-Banner.jpg);
}

#kuzey-amerika{
    background-image: url(Resimler/Kuzey-Amerika-Banner.jpg);
}

#güney-amerika{
    background-image: url(Resimler/Güney-Amerika-Banner.jpg);
}

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
}
header nav div+div{
    display: flex;
    align-items: center;
}

header nav img {
    width: 200px;
}

header nav ul {
    list-style: none;
    display: flex;
    position: relative;
}

header nav ul li {
    position: relative;
    margin: 0 45px;
}

header nav ul li a, .acilan {
    text-decoration: none;
    color: #E0E0E0;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

header nav ul li a:hover, .acilan:hover {
    color: #FF97F5;
}

header nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    list-style: none;
    padding: 10px 0;
    z-index: 3;
}

header nav ul li ul li {
    padding: 10px 20px;
}

header nav ul li ul li a {
    color: #E0E0E0;
    font-size: 18px;
}

header nav ul li:hover ul {
    display: block;
}

header nav div #buton {
    display: inline-block;
    background-color: #FE6084;
    color: #E0E0E0;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px; 
    text-align: center;
    transition: all 0.3s ease;
}

header nav div #buton:hover {
    background-color: #FF97F5;
    color: dimgray;
    padding: 17px 27px;
}


header section #yazi{
    color: #ffffff;
    font-family: 'Quentin', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;     
    font-size: 180px;
    margin-top: 220px;
}


footer{
    width: 100%;
    height: auto;
    background-color: #009891;
}

footer #kapsayici{
    display: flex;
    justify-content: center;
}

footer #kapsayici div:nth-child(1){
    margin-top: 100px;
}

footer #kapsayici div:nth-child(1) img{
    width: auto;
    height: 180px;
}

footer #kapsayici div:nth-child(2){
    margin-left: 80px;
    margin-top: 170px;
}

footer #kapsayici div:nth-child(2) a{
    font-size: 40px;
    text-decoration: none;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    transition: all 0.4s;
}

footer #kapsayici div:nth-child(2) a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 10px black;
}

footer #kapsayici div:nth-child(3){
    margin-left: 80px;
    margin-top: 170px;
}

footer #kapsayici div:nth-child(3) ul{
    list-style: none;
}

footer #kapsayici div:nth-child(3) ul li:nth-child(1){
    font-size: 40px;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}

footer #kapsayici div:nth-child(3) ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    transition: all 0.2s;
}

footer #kapsayici div:nth-child(3) ul li a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 10px black;
    font-size: 22px;
}

footer #kapsayici2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

footer #kapsayici2 ul{
    display: flex;
}

footer #kapsayici2 ul li{
    list-style: none;
    padding: 0px 20px;
}

footer #kapsayici2 ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all 0.2s;
}

footer #kapsayici2 ul li a:hover{
    color: #ffffff;
    text-shadow: 1px 1px 10px black;
    font-size: 22px;
}

footer #kapsayici3{
    display: flex;
    justify-content: center;
}

footer #kapsayici3 #cizgi {
    width: 640px;
    height: 2px; 
    background-color: #DFDFDF; 
    margin: 20px 0; 
}

footer #kapsayici4{
    display: flex;
    justify-content: center;
}

footer #kapsayici4 img{
    width: 40px;
    height: 40px;
    margin: 5px 30px;
    transition: all 0.2s;
}   

footer #kapsayici4 img:hover{
    width: 42px;
    height: 42px;
    filter: brightness(10%);
    margin: 4px 0px;
}

footer #kapsayici5{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

footer #kapsayici5 p{
    font-size: 20px;
    text-decoration: none;
    color: #DFDFDF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
